<html>
<head>
  <style>
  body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  .bg-img {
    /* The image used */
    background-image: url("http://localhost:3000/images/darwinbox.jpg");
    position:float;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .row {

    position: fixed;
    right:10px;
    bottom:10px;
  }
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 10px;
    bottom:10px;
    margin: 40px;
    max-width: 600px;

    padding: 16px 32px;
    background-color: white;
    border-color: coral;
    border-width: 5px;
  }

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 2px solid blue;
    border-radius: 4px;

  }

  .button {
    background-color: #1E56D9; /* Green */
    border: none;
    color: white;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  .button2:hover {
    background-color: #008CBA;
    color: white;
  }


  input[type=button]:focus {
    border-width: 5px;
    border-color: coral;

  }


  .h1{

    padding: 10px 10px;
    background-color: blue;


  }
  .left
  {
    text-align: left;
  }
  .right
  {
    text-align: right;
  }
  .right1
  {
    text-align: right;
  }
  .left1
  {
    text-align: right;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
  function Welcome()
  {
    if(performance.navigation.type == 1)
    {
      sessionStorage.setItem('keyword',"email");
    }

    var para = document.createElement("p");
    var node = document.createTextNode("ALEX:Hi,Give your email id");
    para.className='left';
    para.appendChild(node);
    var element = document.getElementById("his");
    element.appendChild(para);

  }
  $(document).keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
      func();
    }
  });
  function func()
  {
    var link='';

    var keyword=sessionStorage.getItem('keyword');
    var token=localStorage.getItem("token");
    //alert(token);
    //  alert(keyword);
    if(keyword==null||keyword=='password'||keyword=='rname'||keyword=='rpassword'||keyword=='email')
    {
      link='/login'
    }
    else if(keyword=='resume'||keyword=='success'){
      link='/chat'
    }

    var name=document.getElementById("text").value;
    var json = {
      "name":name,
      "keyword":keyword,
      "token":token



    };
    //alert(json);

    document.getElementById("text").value=""

    var myVar=JSON.stringify(json);
    $.ajax({
      type: 'POST',
      //url: '/chat',
      url:link,
      data: json,
      dataType: 'json',

      success: function(data){


        var reply=data.status;
        console.log(reply);
        var keyword=data.keyword;

        if(data.api_key!='undefined' )
        {
          var token=data.api_key;
          localStorage.setItem("token", token);

        }
        sessionStorage.setItem('keyword',keyword);


        var para = document.createElement("p");
        var node = document.createTextNode("YOU:"+name);
        para.className='right';
        para.appendChild(node);
        var element = document.getElementById("ok");
        element.appendChild(para);
        if(data.flag==undefined)
        {
          var para1 = document.createElement("p");
          var node1 = document.createTextNode("ALEX:"+reply);
          para1.className='left';
          para1.appendChild(node1);
          if(typeof data.link!='undefined'){
            if(data.type=='social media')
            {
              var arr=data.link.split(",");
              var a=new Array('Facebook','LinkedIn','Twitter');
              //alert(a);
              for(var i=0;i<arr.length;i++)
              {
                var node2 = document.createTextNode(a[i]+": ");
                var br = document.createElement("br");
                var a = document.createElement("a");
                a.setAttribute('href',data.link);
                a.setAttribute('target','_blank');
                a.appendChild(document.createTextNode(arr[i]));
                para1.appendChild(br);
                para1.appendChild(node2);

                para1.appendChild(a);
              }
            }
            else
            {
              var node2 = document.createTextNode("For More:");

              var br = document.createElement("br");
              var a = document.createElement("a");
              a.setAttribute('href',data.link);
              a.setAttribute('target','_blank');
              a.appendChild(document.createTextNode(data.link));
              para1.appendChild(br);
              para1.appendChild(node2);

              para1.appendChild(a);
            }
          }

          element.appendChild(para1);
        }
        else
        {
          var br1 = document.createElement("br");
          var node11=document.createTextNode("ALEX:")

          var para11 = document.createElement("p");
          para11.appendChild(node11);
          para11.appendChild(br1);
          //alert('hi')
          for(var i=0;i<reply.length;i++)
          {
            var br = document.createElement("br");
            var node1 = document.createTextNode(reply[i]);

            para11.className='left';
            para11.appendChild(node1);
            para11.appendChild(br);
            // par11.appendChild(document.createElement("br"));
            //element.appendChild(para11);

          }
          var node2 = document.createTextNode("For More:");
          var br = document.createElement("br");
          var a = document.createElement("a");
          a.setAttribute('href',data.link);
          a.setAttribute('target','_blank');
          a.appendChild(document.createTextNode(data.link));
          para11.appendChild(br);
          para11.appendChild(node2);

          para11.appendChild(a);


        }
        element.appendChild(para11);

      },
      error: function(error){
        //console.log(error);
        alert(error.Message);
        window.location="http://localhost:3000/error";
      }
    });
    return false;
  }
  </script>
</head>
<body onload="Welcome()" class="bg-img">
  <div class="row">
    <a href="http://localhost:3000/bot">
      <img src="http://localhost:3000/images/tenor.gif", height = 50 width = 50/></a>
    </div>

    <div class="container">
      <div class=h1>
        <h1 align="center">DBOX</h1>
      </div>
      <div id="his"></div>
      <div id="ok"></div>

      <input type="text" name="text" id="text">
      <button align="center" class="button button2" onclick="func();">Submit</button>
    </div>
  </body>
  </html>
